<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>reporte1</title>
</head>
<body>
<div class="container">
    <h1>Empleados con Mayor Salario a 15000</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Fecha Fin</th>
            <th scope="col">Puesto</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${listaEmployee15000}">
            <th th:text="${employee.getFirst_name()}">1</th>
            <td th:text="${employee.getLast_name()}">Mark</td>
            <td th:text="${employee.getStart_date()}">Otto</td>
            <td th:text="${employee.getEnd_date()}">@mdo</td>
            <td th:text="${employee.getJob_title()}">@mdo</td>
            <td th:text="${employee.getSalary()}">@mdo</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>