<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Empleado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body class="container">
    <h2>Editar Empleado</h2><hr />
        <form method="post" th:action="@{'/employee/save'}" th:object="${employee}">
            <!-- COMPLETAR -->
            <input th:field="*{employee_id}" name="employee_id" type="hidden"/>
            <div class="row">
                <div class="form-group col-6">
                    <label for="first_name">Nombres</label>
                    <input th:field="*{first_name}" type="text" class="form-control" name="first_name" id="first_name">
                </div>
                <div class="form-group col-6">
                    <label for="first_name">Apellidos</label>
                    <input th:field="*{last_name}" type="text" class="form-control" name="last_name" id="last_name">
                </div>
            </div>

            <div class="form-group">
                <label for="first_name">Correo electrónico</label>
                <input th:field="*{email}" type="text" class="form-control" name="email" id="email">
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label>Puesto</label>
                    <!--<input th:field="*{category}" th:value="*{category.categoryname}" type="text" class="form-control">-->
                    <select  class="form-control" th:field="*{job}">
                        <option th:each="trabajo: ${}"
                                th:value="${tra}"
                                th:text="${categoria.categoryname}"
                                th:selected="${categoria.id==product.category.id}">

                        </option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <!-- COMPLETAR -->
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <!-- COMPLETAR -->
                </div>
                <div class="form-group col-6">
                    <!-- COMPLETAR -->
                </div>
            </div>

            <a th:href="@{}" class="btn btn-danger"></a>                 <!-- COMPLETAR -->
            <!-- COMPLETAR -->
        </form>
    </body>
</html>